@import 'tailwindcss';
@import './styles/settings/tailwindstyle.css';


@theme {
  --color-primary: #F8FAFC;

  --color-bg:#0B0F19;
  --color-bg-card:#1E293B;

  --color-border:#334155;

  --color-btn-pending:#F59E0B;
  --color-btn-cooking:#3B82F6;
  --color-btn-ready:#10B981;

  --color-gray:#818589;

  --color-button:#007BFF;
  --color-red:#FF4A4A;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-c-hor {
  @apply flex items-center;
}

@utility flex-col-start {
  @apply flex flex-col items-start; 
}

@utility hover-base {
  @apply transition-all duration-300;
}

@utility button-base {
  @apply inline-flex items-center justify-center cursor-pointer hover-base;
}

@utility pos-absl-center {
  @apply absolute top-1/2 left-1/2 translate-x-1/2 translate-y-1/2
}

@utility modal-overlay {
  @apply fixed inset-0 flex items-center justify-center bg-black/50 z-50;
}

@utility scroll-lock {
  @apply overflow-hidden;
}